body {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    background-color: #eeeeee;
    margin: 0px auto;
}

header {
    text-align: center;
}

.todo-list {
    list-style-type: none;
}

.tile {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
    width: 100%;
}

.input {
    background-color: #d9d9d9;
}

.add {
    display: flex;
}

.new-text {
    width: 100%;
}

.remove {
    float: right;
    color: black;
    text-decoration: none;
}

.completed {
    background-color: #96ffb2;
}

